[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Ll]ogs/
MemoryCaptures/
.vs/

Assets/Json_Tests/*
!Assets/Json_Tests/
!Assets/Json_Tests/.gitkeep

Assets/Json_Tests/GPT_Tests/*
!Assets/Json_Tests/GPT_Tests/
!Assets/Json_Tests/GPT_Tests/.gitkeep

Assets/EvaluationJsons/*
!Assets/EvaluationJsons/
!Assets/EvaluationJsons/.gitkeep

Assets/EvaluationJsons/EvaluationResult/*
!Assets/EvaluationJsons/EvaluationResult/
!Assets/EvaluationJsons/EvaluationResult/.gitkeep